body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(224, 222, 218, 0.116);
    margin: 0%;
}
.skip{
    color: chocolate;
}
.flexible-count{
    display: flex;
    width: 100%;
    margin-bottom: 5%;
}
.half-width{
    width: 50%;
    padding: 2%;
}
.half-width img{
    width: 80%;
}
.half-width h1{
    font-size: 30px;
}
.half-width p{
    font-size: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 10%;
    color: white;
    font-family: sans-serif;
}
.second-sec img{
    width: 50%;
    padding-left: 30px;
}
.second-sec{
    background-image: url(images/shapes/7.png);
}
.align{
    text-align: justify;
}
.r1{
    position:  relative;
    left: 90px;
}
.r2{
    position:relative;
    right: 20px;
    text-align: left;
}
.about{
    color:rgba(14, 13, 13, 0.384);
}
.third{
    text-align: center;
}